* {
  /* HTML5 display-role reset for older browsers */ }
  * html, * body, * div, * span, * applet, * object, * iframe, * h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre, * a, * abbr, * acronym, * address, * big, * cite, * code, * del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp, * small, * strike, * strong, * sub, * sup, * tt, * var, * b, * u, * i, * center, * dl, * dt, * dd, * ol, * ul, * li, * fieldset, * form, * label, * legend, * table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td, * article, * aside, * canvas, * details, * embed, * figure, * figcaption, * footer, * header, * hgroup, * menu, * nav, * output, * ruby, * section, * summary, * time, * mark, * audio, * video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  * article, * aside, * details, * figcaption, * figure, * footer, * header, * hgroup, * menu, * nav, * section {
    display: block; }
  * body {
    line-height: 1; }
  * ol, * ul {
    list-style: none; }
  * blockquote, * q {
    quotes: none; }
  * blockquote:before, * blockquote:after {
    content: '';
    content: none; }
  * q:before, * q:after {
    content: '';
    content: none; }
  * table {
    border-collapse: collapse;
    border-spacing: 0; }

@font-face {
  font-family: DinPro-Regular;
  src: url(../fonts/DINPro-Regular.otf); }
@font-face {
  font-family: DinPro-Medium;
  src: url(../fonts/dinpro-medium.ttf); }
@font-face {
  font-family: RobotoSlab-Regular;
  src: url(../fonts/Roboto-Slab-Regular.ttf); }
@font-face {
  font-family: RobotoSlab-Light;
  src: url(../fonts/Roboto-Slab-Light.ttf); }
a {
  text-decoration: none; }

.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

body {
  background: #f8f8f8; }

.header {
  width: 100%;
  height: 100px; }
  .header__header-holder {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .header__header-part_left {
    flex-basis: 20%; }
  .header__header-part_center {
    flex-basis: 40%; }
  .header__header-part_right {
    flex-basis: 40%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-wrap {
    display: block;
    padding-left: 20px; }
  .header__main-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-left: 50px; }
    .header__main-nav li > a {
      text-decoration: none;
      font-size: 20px;
      font-family: DinPro-Regular;
      color: #000;
      padding: 10px;
      position: relative;
      z-index: 1; }
      .header__main-nav li > a::after {
        width: calc(100% - 20px);
        height: 10px;
        background: #f2ebdd;
        position: absolute;
        left: 10px;
        bottom: 10px;
        content: "";
        z-index: -1; }
  .header__languages-nav {
    margin-left: 70px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .header__languages-nav li {
      cursor: pointer; }
  .header__number {
    text-decoration: none; }
    .header__number > span {
      font-size: 24px;
      font-family: DinPro-Regular;
      color: #6d6d6d; }
      .header__number > span span {
        font-weight: bold;
        color: #000; }
  .header__email {
    font-size: 16px;
    font-family: DinPro-Regular;
    display: block;
    text-align: right;
    color: #3176a9;
    text-decoration: none;
    margin-top: 5px; }
    .header__email:hover span {
      border-bottom: 1px solid #3176a9; }
    .header__email > img {
      padding-right: 10px; }
    .header__email > span {
      display: inline-block;
      vertical-align: super; }

.content-holder {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative; }

.banner {
  width: 100%;
  position: relative;
  background-color: grey;
  min-height: 400px;
  height: 100%;
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .banner::after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    max-height: 18px;
    height: 100%;
    background: url(../img/border-botton.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .banner__descr-wrap {
    width: 100%; }
    .banner__descr-wrap h2 {
      font-family: RobotoSlab-Light;
      font-size: 50px;
      color: #fff;
      max-width: 545px;
      width: 100%;
      position: relative;
      z-index: 1;
      padding-top: 100px; }
      .banner__descr-wrap h2 > span {
        font-family: RobotoSlab-Regular;
        color: #efbc43; }
      .banner__descr-wrap h2::after {
        width: 100%;
        height: 15px;
        background: #424549;
        position: absolute;
        left: 0;
        bottom: -6px;
        content: "";
        z-index: -1; }
    .banner__descr-wrap p {
      font-family: DinPro-Regular;
      font-size: 20px;
      color: #fff;
      line-height: 1.3;
      max-width: 400px;
      width: 100%;
      margin-top: 30px; }
    .banner__descr-wrap button.more-details-button {
      margin-top: 50px;
      width: 160px;
      height: 50px;
      border: 0;
      outline: 0;
      border-radius: 40px;
      font-family: DinPro-Medium;
      font-size: 20px;
      color: #000;
      background: #efcd43;
      cursor: pointer; }

.services {
  width: 100%;
  padding-top: 60px; }
  .services__services-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
  .services__services-block {
    flex-basis: 50%; }
    .services__services-block:first-child {
      border-right: 1px solid #f2efe8; }
  .services__services-nav {
    position: relative;
    margin-top: 60px;
    flex-basis: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .services__services-nav:nth-child(1), .services__services-nav:nth-child(2) {
      margin-top: 0; }
    .services__services-nav li span {
      font-family: RobotoSlab-Regular;
      font-size: 18px;
      color: #000;
      background: #f2efe8;
      padding: 5px 0;
      display: inline;
      line-height: 1.6;
      position: relative;
      z-index: 1;
      white-space: pre-line; }
    .services__services-nav li i {
      color: #7ca2bf;
      padding: 7px;
      border-radius: 40%;
      position: relative;
      right: 15px;
      margin-top: 5px;
      background: transparent; }
    .services__services-nav:first-child {
      cursor: pointer; }
      .services__services-nav:first-child:hover li span {
        background: transparent;
        z-index: 5; }
      .services__services-nav:first-child:hover li i {
        background: #fff;
        z-index: 3;
        transform: rotate(180deg);
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.05); }
      .services__services-nav:first-child:hover .services__drop-down {
        display: block;
        z-index: 2;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.02); }
  .services__drop-down {
    display: none;
    position: absolute;
    background: #fff;
    width: 333px;
    box-sizing: border-box;
    padding: 24px;
    left: -6px;
    top: -23px; }
  .services__drop-down-list {
    width: 100%;
    border-top: 1px solid #dfdfdf;
    margin-top: 100px; }
    .services__drop-down-list li {
      margin-top: 20px;
      padding-left: 10px;
      position: relative; }
      .services__drop-down-list li::before {
        width: 4px;
        height: 4px;
        background: #d6d6d6;
        position: absolute;
        content: "";
        top: 5px;
        left: 0; }
      .services__drop-down-list li a {
        font-size: 14px;
        font-family: DinPro-Regular;
        color: #3176a9;
        text-decoration: none; }
        .services__drop-down-list li a:hover {
          text-decoration: underline; }
  .services__offers-wrap {
    margin-left: 50px; }
    .services__offers-wrap h2 {
      border-left: 4px solid #efcd43;
      padding-left: 15px;
      font-size: 30px;
      font-family: RobotoSlab-Light;
      color: #000;
      text-transform: uppercase; }
      .services__offers-wrap h2 > span {
        font-family: RobotoSlab-Regular; }
    .services__offers-wrap ul li {
      font-family: DinPro-Regular;
      font-size: 18px;
      color: #000;
      position: relative;
      padding-left: 15px;
      margin-top: 27px;
      display: block; }
      .services__offers-wrap ul li::before {
        width: 4px;
        height: 4px;
        background: #000;
        position: absolute;
        content: "";
        top: 6px;
        left: 0; }
    .services__offers-wrap button.more-details-button {
      margin-top: 64px;
      width: 195px;
      height: 50px;
      border: 0;
      outline: 0;
      border-radius: 40px;
      font-family: DinPro-Medium;
      font-size: 20px;
      color: #000;
      background: #efcd43;
      cursor: pointer;
      box-shadow: 0px 0px 36px 0px #f5e2b5; }

.map {
  margin-top: 115px;
  width: 100%;
  min-height: 400px;
  height: 100%;
  background: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .map__descr-wrap {
    padding: 20px;
    box-sizing: border-box;
    max-width: 380px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: -30px; }
    .map__descr-wrap h2 {
      font-family: RobotoSlab-Regular;
      font-size: 30px;
      color: #000;
      padding-top: 10px;
      position: relative; }
      .map__descr-wrap h2::after {
        width: 190px;
        height: 15px;
        background: #f4f4f4;
        position: absolute;
        content: "";
        right: 0;
        bottom: 0; }
    .map__descr-wrap p {
      font-size: 16px;
      font-family: DinPro-Regular;
      color: #000;
      padding-top: 25px;
      line-height: 1.3;
      position: relative; }
      .map__descr-wrap p:first-child {
        padding-top: 40px; }
      .map__descr-wrap p:last-child::after {
        position: absolute;
        width: 40px;
        height: 5px;
        background: #efbc43;
        position: absolute;
        content: "";
        left: -7px;
        bottom: -40px; }
  .map__info-wrap {
    margin-top: 80px; }
  .map__number {
    text-decoration: none; }
    .map__number > span {
      font-size: 24px;
      font-family: DinPro-Regular;
      color: #6d6d6d; }
      .map__number > span span {
        font-weight: bold;
        color: #000; }
  .map__email {
    font-size: 16px;
    font-family: DinPro-Regular;
    display: block;
    text-align: left;
    color: #3176a9;
    text-decoration: none;
    margin-top: 5px; }
    .map__email:hover span {
      border-bottom: 1px solid #3176a9; }
    .map__email > img {
      padding-right: 10px; }
    .map__email > span {
      display: inline-block;
      vertical-align: super; }
  .map__adress-wrap {
    margin-top: 25px;
    padding-bottom: 10px; }
    .map__adress-wrap span {
      font-family: DinPro-Regular;
      font-size: 16px;
      color: #000; }

.cases {
  width: 100%;
  margin-top: 90px; }
  .cases__cases-wrap {
    position: relative; }
    .cases__cases-wrap > h2 {
      font-family: RobotoSlab-Regular;
      font-size: 30px;
      color: #000;
      padding-left: 20px; }
  .cases__cases-line {
    margin-top: 40px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative; }
    .cases__cases-line::after {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #e0e0e0;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      content: "";
      transform: translate(-50%, -50%);
      z-index: -1; }
  .cases__case-block {
    max-width: 500px !important;
    width: 100% !important; }
  .cases__case-slide {
    z-index: 5;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    width: 460px;
    height: 170px;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
    /*&:first-child{
        //background: red;
        &::before{
            position: absolute;
            left: -35px;
            top: calc(50% - 25px);
            content: "";
            width: 50px;
            height: 50px;
            background: #f8f8f8;
            border-radius: 50%;
            z-index: 1;
        }
    }
    &:last-child{
        &::before{
            right: -35px;
            top: calc(50% - 25px);
            content: "";
            width: 50px;
            height: 50px;
            background: #f8f8f8;
            border-radius: 50%;
            z-index: -1;
        }
    }*/ }
  .cases__part_left {
    flex-basis: 25%; }
  .cases__part_right {
    flex-basis: 75%; }
  .cases__part_right h2 {
    font-size: 24px;
    color: #000;
    font-family: RobotoSlab-Regular;
    position: relative;
    z-index: 2; }
    .cases__part_right h2::after {
      width: 100%;
      height: 10px;
      background: #f2ebdd;
      position: absolute;
      left: 0;
      bottom: -2px;
      content: "";
      z-index: -1; }
  .cases__part_right p {
    font-size: 16px;
    color: #000;
    font-family: DinPro-Regular;
    padding-top: 20px;
    line-height: 1.3; }
  .cases__btn_left, .cases__btn_right {
    position: absolute;
    top: 70px; }
    .cases__btn_left i, .cases__btn_right i {
      font-size: 30px;
      cursor: pointer;
      color: #efbc43; }
  .cases__btn_left {
    left: -60px; }
  .cases__btn_right {
    right: -60px; }

.footer {
  margin-top: 100px;
  background: #323537;
  position: relative; }
  .footer::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    max-height: 18px;
    height: 100%;
    background: url(../img/border-botton.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .footer__services-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px; }
  .footer__services-block {
    width: 30%;
    box-sizing: border-box; }
    .footer__services-block h2 {
      font-family: RobotoSlab-Regular;
      font-size: 18px;
      color: #fff;
      display: block;
      line-height: 1.5;
      margin-top: 50px;
      white-space: pre-line; }
  .footer__services-list li {
    margin-top: 30px; }
    .footer__services-list li a {
      font-size: 14px;
      font-family: DinPro-Regular;
      color: #98999a;
      text-decoration: none; }
      .footer__services-list li a:hover {
        border-bottom: 1px solid #98999a; }
  .footer__info-wrap {
    margin-top: 50px; }
    .footer__info-wrap > h4 {
      padding-top: 20px;
      display: block;
      font-family: DinPro-Medium;
      font-size: 16px;
      color: #efcd43; }
    .footer__info-wrap > span {
      color: #fff;
      font-size: 14px;
      font-family: DinPro-Regular;
      line-height: 1.4;
      margin-top: 25px;
      display: block; }
  .footer__number-nav {
    display: block;
    margin-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
    .footer__number-nav li {
      margin-top: 2px; }
      .footer__number-nav li a {
        text-decoration: none;
        font-size: 14px;
        font-family: DinPro-Regular;
        color: #fff; }
  .footer__email {
    font-size: 14px;
    font-family: DinPro-Regular;
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    text-decoration: none; }
    .footer__email:hover > span {
      border-bottom: 1px solid #fff; }
    .footer__email > span {
      display: inline-block;
      vertical-align: super; }
    .footer__email > img {
      padding-right: 6px; }
  .footer__logo-wrap {
    margin-top: 85px; }

.pop-up-calc-wrap, .pop-up-risk-management-wrap, .pop-up-reorganization-of-daewoo-wrap {
  width: 100%;
  height: 100vh;
  background: rgba(31, 34, 42, 0.9);
  display: none;
  z-index: 999;
  position: relative; }

.close-pop-up-calc, .close-pop-up-risk, .close-pop-up-reorganization-of-daewoo {
  position: absolute;
  top: 0;
  right: -30px;
  cursor: pointer; }
  .close-pop-up-calc i, .close-pop-up-risk i, .close-pop-up-reorganization-of-daewoo i {
    font-size: 30px;
    color: #8f9094; }

.calc-holder, .risk-management-holder, .reorganization-of-daewoo-holder {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto; }

.calc-header {
  position: relative; }
  .calc-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -3px;
    left: 0;
    background: url(../img/pop-up-border.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .calc-header .text-wrap {
    background-color: #f8f8f8;
    padding: 30px; }
    .calc-header .text-wrap h2 {
      font-family: RobotoSlab-Regular;
      font-size: 25px;
      color: #000;
      position: relative; }
      .calc-header .text-wrap h2::before {
        position: absolute;
        width: 5px;
        height: 100%;
        content: "";
        background: #efcd43;
        top: 0;
        left: -30px; }
    .calc-header .text-wrap p {
      font-family: DinPro-Regular;
      font-size: 16px;
      color: #000;
      margin-top: 25px; }
    .calc-header .text-wrap ul li {
      font-family: DinPro-Regular;
      font-size: 18px;
      color: #000;
      position: relative;
      padding-left: 15px;
      margin-top: 27px;
      display: block; }
      .calc-header .text-wrap ul li::before {
        width: 4px;
        height: 4px;
        background: #000;
        position: absolute;
        content: "";
        top: 6px;
        left: 0; }

.calc-buttons-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  background: #fff; }
  .calc-buttons-wrap .send-request {
    width: 200px;
    height: 50px;
    background: #efcd43;
    border: 0;
    outline: 0;
    font-family: DinPro-Medium;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer; }
  .calc-buttons-wrap div#calc {
    margin-left: 30px;
    max-width: 220px;
    width: 100%;
    position: relative;
    padding: 17px 12px 15px 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .calc-buttons-wrap div#calc > span {
      font-family: DinPro-Medium;
      font-size: 18px;
      border-bottom: 1px dashed #dbdbdb;
      padding: 3px;
      cursor: pointer; }
    .calc-buttons-wrap div#calc i {
      color: #7ca2bf; }
    .calc-buttons-wrap div#calc:hover {
      box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.36);
      background: #fff; }
      .calc-buttons-wrap div#calc:hover i {
        transform: rotate(-180deg); }
      .calc-buttons-wrap div#calc:hover::after {
        width: 100%;
        height: 5px;
        background: #fff;
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 15; }
      .calc-buttons-wrap div#calc:hover .drop-down-calc {
        display: block; }
  .calc-buttons-wrap .drop-down-calc {
    width: 330px;
    height: 525px;
    position: absolute;
    left: 0;
    top: 49px;
    z-index: 10;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.36);
    box-sizing: border-box; }
    .calc-buttons-wrap .drop-down-calc .calc-wrapper {
      position: relative;
      height: 100%;
      background: #fff; }
      .calc-buttons-wrap .drop-down-calc .calc-wrapper .cost-wrap {
        z-index: -1;
        background: #efcd43;
        position: absolute;
        left: 0;
        bottom: -42px;
        width: 135px;
        height: 45px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; }
        .calc-buttons-wrap .drop-down-calc .calc-wrapper .cost-wrap span {
          font-size: 20px;
          color: #000;
          font-family: DinPro-Regular;
          position: relative; }
      .calc-buttons-wrap .drop-down-calc .calc-wrapper .drop-down-list {
        background: #fff;
        padding: 15px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 100%; }
      .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block {
        margin-top: 30px;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between; }
        .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap label {
          display: block;
          font-family: DinPro-Medium;
          font-size: 16px;
          color: #000; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap label span {
            color: #c6c7c7; }
        .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .input-for-range {
          width: 80px;
          margin-top: 0px;
          border: 0;
          padding: 5px;
          box-sizing: border-box;
          border-bottom: 1px solid #dfdfdf;
          cursor: pointer;
          font-family: DinPro-Medium;
          font-size: 20px;
          color: #000; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .input-for-range::placeholder {
            font-size: 16px;
            color: #dfdfdf; }
        .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range {
          margin-top: 20px;
          -webkit-appearance: none;
          width: 180px;
          height: 1px;
          border: none;
          background: #dfdfdf;
          outline: none;
          /* no focus outline */
          cursor: pointer;
          /* thumb */ }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-moz-range-track {
            border: inherit;
            background: transparent; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-ms-track {
            border: inherit;
            color: transparent;
            /* don't drawn vertical reference line */
            background: transparent; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-ms-fill-lower, .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-ms-fill-upper {
            background: transparent; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-ms-tooltip {
            display: none; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background: #efbc43;
            border: 5px solid #fff;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.31);
            box-sizing: border-box; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background: #efbc43;
            border: 5px solid #fff;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.31);
            box-sizing: border-box; }
          .calc-buttons-wrap .drop-down-calc .calc-wrapper .range-block .range-wrap .range::-ms-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background: #efbc43;
            border: 5px solid #fff;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.31);
            box-sizing: border-box; }

.calc-content {
  padding: 40px 30px 50px 30px;
  box-sizing: border-box; }
  .calc-content .text-wrap {
    margin-top: 45px; }
    .calc-content .text-wrap:first-child {
      margin-top: 0; }
    .calc-content .text-wrap h2 {
      font-family: RobotoSlab-Regular;
      font-size: 25px;
      color: #000;
      position: relative; }
      .calc-content .text-wrap h2::before {
        position: absolute;
        width: 5px;
        height: 100%;
        content: "";
        background: #dfdfdf;
        top: 0;
        left: -30px; }
    .calc-content .text-wrap p {
      font-family: DinPro-Regular;
      font-size: 16px;
      color: #000;
      margin-top: 25px; }
    .calc-content .text-wrap ul li {
      font-family: DinPro-Regular;
      font-size: 18px;
      color: #000;
      position: relative;
      padding-left: 15px;
      margin-top: 27px;
      display: block; }
      .calc-content .text-wrap ul li::before {
        width: 4px;
        height: 4px;
        background: #000;
        position: absolute;
        content: "";
        top: 6px;
        left: 0; }
  .calc-content .result-slider {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center; }
    .calc-content .result-slider .btn-right, .calc-content .result-slider .btn-left {
      width: 30px;
      position: absolute;
      right: 0;
      top: 50px;
      cursor: pointer; }
      .calc-content .result-slider .btn-right i, .calc-content .result-slider .btn-left i {
        font-size: 30px;
        color: #efbe4a; }
        .calc-content .result-slider .btn-right i:hover, .calc-content .result-slider .btn-left i:hover {
          color: #dfdfdf; }
    .calc-content .result-slider .btn-left {
      left: 0; }
  .calc-content .results-line {
    padding-top: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .calc-content .results-line a {
      margin-left: 20px; }
      .calc-content .results-line a:first-child {
        margin-left: 0; }
  .calc-content .result-block {
    padding: 10px;
    max-width: 220px;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    background: white;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .calc-content .result-block span {
      font-family: DinPro-Medium;
      font-size: 18px;
      color: #000;
      padding: 10px 20px; }

.risk-content {
  padding: 60px 30px 45px 30px;
  box-sizing: border-box; }
  .risk-content .text-wrap p {
    font-family: DinPro-Regular;
    font-size: 16px;
    color: #000;
    line-height: 1.4;
    padding-top: 30px; }
    .risk-content .text-wrap p:first-child {
      padding-top: 0; }
  .risk-content .text-wrap h2 {
    font-family: RobotoSlab-Regular;
    font-size: 25px;
    color: #000;
    position: relative;
    margin-top: 75px; }
    .risk-content .text-wrap h2::before {
      position: absolute;
      width: 5px;
      height: 100%;
      content: "";
      background: #efcd43;
      top: 0;
      left: -30px; }
  .risk-content .text-wrap ul li {
    font-family: DinPro-Regular;
    font-size: 18px;
    color: #000;
    position: relative;
    padding-left: 15px;
    margin-top: 27px;
    display: block; }
    .risk-content .text-wrap ul li::before {
      width: 4px;
      height: 4px;
      background: #000;
      position: absolute;
      content: "";
      top: 6px;
      left: 0; }

.risk-wrap, .deawoo-wrap, .calc-wrap {
  background: #f8f8f8;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  /* Track */
  /* Handle */ }
  .risk-wrap::-webkit-scrollbar, .deawoo-wrap::-webkit-scrollbar, .calc-wrap::-webkit-scrollbar {
    width: 5px; }
  .risk-wrap::-webkit-scrollbar-track, .deawoo-wrap::-webkit-scrollbar-track, .calc-wrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #dfdfdf; }
  .risk-wrap::-webkit-scrollbar-thumb, .deawoo-wrap::-webkit-scrollbar-thumb, .calc-wrap::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 10px; }

.deawoo-wrap {
  background: #fff; }

.risk-management-header {
  width: 100%;
  height: 215px;
  padding: 25px;
  box-sizing: border-box;
  background: url(../img/bg-risk-pop-up.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }
  .risk-management-header h2 {
    font-size: 24px;
    margin-top: 15px;
    font-family: RobotoSlab-Regular;
    color: #fff;
    white-space: pre-line;
    line-height: 1.2; }
    .risk-management-header h2 > span {
      font-family: RobotoSlab-Light;
      color: #efcd43; }
  .risk-management-header p {
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-family: DinPro-Regular;
    white-space: pre-line;
    margin-top: 25px; }
  .risk-management-header::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 10px;
    background: url(../img/pop-up-border-grey.png);
    background-size: cover; }
  .risk-management-header .send-request {
    margin-top: 55px;
    width: 200px;
    height: 50px;
    background: #efcd43;
    border: 0;
    outline: 0;
    font-family: DinPro-Medium;
    font-size: 18px;
    position: relative;
    z-index: 5;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 36px 0px #f5e2b5; }

.pop-up-show {
  left: 0;
  top: 0;
  display: block;
  position: fixed;
  z-index: 999; }

.deawoo-header {
  width: 100%;
  height: 215px;
  background: url(../img/deawoo-pop-up-header-bg.png);
  background-size: cover;
  position: relative;
  padding: 55px 30px;
  box-sizing: border-box; }
  .deawoo-header::after {
    position: absolute;
    background: url(../img/pop-up-border.png);
    content: "";
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 10px;
    background-size: cover; }
  .deawoo-header .text-wrap h2 {
    font-family: RobotoSlab-Light;
    font-size: 24px;
    color: #efcd43;
    white-space: pre-line;
    line-height: 1.2; }
    .deawoo-header .text-wrap h2 > span {
      font-family: RobotoSlab-Regular;
      color: #fff; }

.deawoo-block {
  padding: 30px 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .deawoo-block .logo-wrap img {
    padding: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.28); }
  .deawoo-block .text-wrap {
    margin-left: 20px; }
    .deawoo-block .text-wrap h4 {
      font-family: RobotoSlab-Regular;
      font-size: 20px;
      color: #000; }
    .deawoo-block .text-wrap p {
      font-family: DinPro-Regular;
      font-size: 16px;
      color: #000;
      line-height: 1.3;
      padding-top: 17px; }

.deawoo-content-wrap {
  width: 100%;
  box-sizing: border-box;
  background: #f8f8f8;
  padding: 40px 20px;
  /* Track */
  /* Handle */ }
  .deawoo-content-wrap::-webkit-scrollbar {
    width: 5px; }
  .deawoo-content-wrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #dfdfdf; }
  .deawoo-content-wrap::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 10px; }
  .deawoo-content-wrap .text-wrap h2 {
    font-family: RobotoSlab-Regular;
    font-size: 20px;
    color: #000;
    position: relative;
    margin-top: 40px; }
    .deawoo-content-wrap .text-wrap h2:first-child {
      margin-top: 0; }
    .deawoo-content-wrap .text-wrap h2::before {
      position: absolute;
      width: 5px;
      height: 100%;
      content: "";
      background: #efcd43;
      top: 0;
      left: -20px; }
  .deawoo-content-wrap .text-wrap p {
    font-family: DinPro-Regular;
    font-size: 16px;
    color: #000;
    margin-top: 25px;
    line-height: 1.3; }
  .deawoo-content-wrap .text-wrap ul li {
    font-family: DinPro-Regular;
    font-size: 18px;
    color: #000;
    position: relative;
    padding-left: 15px;
    margin-top: 27px;
    display: block; }
    .deawoo-content-wrap .text-wrap ul li::before {
      width: 4px;
      height: 4px;
      background: #000;
      position: absolute;
      content: "";
      top: 6px;
      left: 0; }
  .deawoo-content-wrap .text-wrap .result-text {
    position: relative; }
    .deawoo-content-wrap .text-wrap .result-text::before {
      position: absolute;
      width: 5px;
      height: 100%;
      content: "";
      background: #efcd43;
      top: 0;
      left: -20px; }
    .deawoo-content-wrap .text-wrap .result-text h2 {
      margin-top: 70px; }

.deawoo-footer .text-wrap {
  width: 100%;
  margin-top: 90px;
  padding-top: 20px;
  box-sizing: border-box;
  border-top: 1px solid #dfdfdf; }
  .deawoo-footer .text-wrap span {
    font-family: DinPro-Regular;
    font-size: 16px;
    color: #000;
    display: block;
    text-align: center;
    white-space: pre-line;
    line-height: 1.3; }
.deawoo-footer .send-request {
  display: block;
  width: 200px;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  font-family: DinPro-Medium;
  font-size: 20px;
  color: #000;
  background: #efcd43;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0px 17px 25px -4px #efcd43; }

/*# sourceMappingURL=style.css.map */
